/* 
 reset from alligator.io 
 https://www.digitalocean.com/community/tutorials/css-minimal-css-reset 
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* end reset */
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1600,24,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --step--4: clamp(0.54rem, 0.58rem + -0.21vw, 0.38rem);
  --step--3: clamp(0.65rem, 0.68rem + -0.15vw, 0.53rem);
  --step--2: clamp(0.78rem, 0.79rem + -0.04vw, 0.75rem);
  --step--1: clamp(0.94rem, 0.91rem + 0.15vw, 1.06rem);
  --step-0: clamp(1.13rem, 1.03rem + 0.47vw, 1.5rem);
  --step-1: clamp(1.35rem, 1.16rem + 0.96vw, 2.12rem);
  --step-2: clamp(1.62rem, 1.28rem + 1.72vw, 3rem);
  --step-3: clamp(1.94rem, 1.37rem + 2.87vw, 4.24rem);
  --step-4: clamp(2.33rem, 1.42rem + 4.58vw, 6rem);
  --step-5: clamp(2.8rem, 1.38rem + 7.1vw, 8.48rem);
}

body {
  font-size: 18px;
  font-family: arial, sans-serif;
}

main {
  padding: 0.25rem;
}
nav {
  height: 3rem;
  width: 100%;
  background-color: rgb(240, 240, 240);
  padding: 0.25rem;
  display: grid;
  gap: 0.05rem;
  grid-template-columns: auto repeat(2, min-content);
  justify-items: right;
}

nav img {
  max-height: 40px;
  justify-self: left;
}
nav a {
  padding: 0.5rem;
  color: rgb(240 240 240 / 75%);
}
nav a:link,
nav a:visited {
  color: rgb(240 240 240 / 75%);
  background-color: rgb(16 16 16 / 75%);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: rgb(16 16 16 / 75%);
  text-decoration: underline;
  background-color: rgb(196 196 196 / 75%);
}

h1 {
  font-family: cambria, serif;
  font-size: var(--step-5);
}
h3 {
  font-size: var(--step-3);
}
footer {
  text-align: center;
  background-color: rgb(196 196 196 / 0.9);
  padding: 1.2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
