/* 
 reset from alligator.io 
 https://www.digitalocean.com/community/tutorials/css-minimal-css-reset 
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* end reset */

body {
  font-size: 18px;
  font-family: arial, sans-serif;
}

main {
  padding: 0.25rem;
}
nav {
  height: 3rem;
  width: 100%;
  background-color: rgb(240, 240, 240);
  padding: 0.25rem;
  display: grid;
  gap: 0.05rem;
  grid-template-columns: auto repeat(2, min-content);
  justify-items: right;
}

nav img {
  max-height: 40px;
  justify-self: left;
}
nav a {
  padding: 0.5rem;
  color: rgb(240 240 240 / 75%);
}
nav a:link,
nav a:visited {
  color: rgb(240 240 240 / 75%);
  background-color: rgb(16 16 16 / 75%);
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: rgb(16 16 16 / 75%);
  text-decoration: underline;
  background-color: rgb(196 196 196 / 75%);
}

h1 {
  font-family: cambria, serif;
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
